.grid{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.galleryCenter{
    text-align: center;
    width: 100%;
}

.prev_btn{
    position: relative;
    left: 14%;
    z-index: 999;
}
.prev_btn a i{
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s;
    font-size: 130px;
}

.next_btn{
    position: relative;
    right: 14%;
    z-index: 999;
}
.next_btn a i{
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s;
    font-size: 130px;
}

/* RESPONSIVE */
@media (max-width: 786px) {
    .galleryCenter{
        margin-top: 80px;
    }
    .galleryCenter img{
        width: 100%;
        height: 350px;
    }
    .prev_btn{
        display: none;
    }
    .next_btn{
        display: none;
    }
}
