.section{
    background-image: url("/images/home/contact/background-contact.png");
    background-size: cover;
    background-position: center;
    height: auto;
    padding-bottom: 120px;
}

.content_grid{
    display: flex;
    justify-content: center;
}

.grid{
    margin-top: 120px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.item1 {
    color: #FFFFFF;
    align-self: center;
    width: 360px;
}
.item1 h5{
    font-size: 48px;
    line-height: 55px;
}

.item2 {
    align-self: center;
}

/* RESPONSIVE */
@media (max-width: 760px) {
    .grid{
        margin-top: 50px;
        display: block;
    }
    .item1 {
        justify-self: center;
        align-self: center;
    }
    .item1 h5{
        padding-top: 20px;
        text-align: center;
    }
    .item2 {
        display: flex;
        justify-content: center;
    }
}
