.footer {
    align-items: center;
    background-color: #2d2f7e;
    height: 100%;
    padding: 40px 0 40px 0;
}

.general {
    width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    padding: 0 40px;
}

.general .content_1 .logo {
    cursor: pointer;
}

.general h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

.general p {
    font-size: 17px;
    color: #ffffff;
    margin: 0;
    width: 300px;
}

.infoUbi {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itenUbi {
    display: flex;
    align-items: center;
    gap: 20px;

}

.itenUbi i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    font-size: 30px;
    color: #1D6FB7;
    margin: 0;
    transition: 1s;
    cursor: pointer;
    border-radius: 50px;
}

.itenUbi i:hover {
    background-color: #1D6FB7;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.social {
    display: flex;
    gap: 15px;
}

.social i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #1D6FB7;
    width: 40px;
    height: 40px;
    font-size: 30px;
    transition: 1s;
    border-radius: 50px;
}
.social a{
    text-decoration: none;
}

.social i:hover {
    background-color: #1D6FB7;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

}

.policy{
    padding-top: 10px;
}
.policy a{
    font-size: 18px;
    color: #ffffff;
    transition: 1s;
}
.policy a:hover{
    color: #1D6FB7;
    transition: 1s;
}

.by_kru{
    display: flex;
    justify-content: center;
}
.by_kru a{
    color: #FFFFFF;
}
.by_kru strong{
    color: #fd9f02;
    font-weight: 800;
    text-decoration: none;
    animation-name: kru;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.content_4{
    padding-top: 50px;
}
@keyframes kru {
    0% {
        color: #fd9f02;
    }
    50% {
        color: #ffffff;
    }
    100% {
        color: #fd9f02;
    }
}

.by_kru strong:hover {
    color: #032f48;
}

.center{
    display: flex;
    justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 1150px) {
    .general{
        gap: 20px;
    }
}

@media (max-width: 1022px) {
    .general {
        display: flex;
        flex-wrap: wrap;
    }

    .content_1 {
        width: 600px
    }
}

@media (max-width: 767px) {
    .general {
        grid-template-columns: 1fr;
        gap: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .content_1 {
        width: 100%;
    }
}
